{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Hungry?{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="city">City</label>
    <input name="city" id="city" required>

    <label for="state">State</label>
    <select name="state" id="state" required>
      {% for state in states %}
      <option value="{{ state }}">{{ state }}</option>
      {% endfor %}
      </select>

    <label for="term">What are you hungry for?</label>
    <input name="term" id="term" required>

    </select>
    <input type="submit" value="Submit">
  </form>
<form>
  <ul>
  {% for post in posts %}
    <li>{{ post }}</li>
  {% endfor %}
    </ul>
</form>
{% endblock %}