{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}City Information{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="city">City</label>
    <input name="city" id="city" required placeholder="Enter a city">
    <label for="state">State</label>
    <select name="state" id="state" required>
      {% for state in states %}
      <option value="{{ state }}">{{ state }}</option>
      {% endfor %}
    </select>
    <input type="submit" name="submit_button" value="Search">
  </form>
{% if message %}
<h1>{{ message }}</h1>
{% endif %}
<form method="post">
  <h1>{{ city_name }}{{ state_name }}</h1>
  {% if city_name %}
  <input type="submit" name="submit_button" value="Bookmark?">
  {% for post in posts %}
  {{ post }}
  {% endfor %}
  {% endif %}
  <h1></h1>
    <a href={{ hyperlink }}>{{ hypertitle }}</a>
</form>
<form>
  <h1>{{ res_banner }}</h1>
  <ul>
  {% for post in food %}
    <li>{{ post }}</li>
    <a></a>
  {% endfor %}
    </ul>
</form>
<form>
  <h1>{{ dir_banner }}</h1>
  <ul>
  {% for dir in routes %}
    <li>{{ dir }}</li>
  {% endfor %}
    </ul>
</form>
{% endblock %}
