{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="city">City</label>
    <input name="city" id="city" required>
    <label for="state">State</label>
    <select name="state" id="state" required>
      {% for state in states %}
      <option value="{{ state }}" SELECTED>{{ state }}</option>
      {% endfor %}
<!--      <option value="test2">Test2</option>-->
    </select>
    <input type="submit" value="Submit">
  </form>

{% endblock %}