{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}City Information{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="city">City</label>
    <input name="city" id="city" required>
    <label for="state">State</label>
    <select name="state" id="state" required>
      {% for state in states %}
      <option value="{{ state }}" SELECTED>{{ state }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Submit">
  </form>
<form>
<!--  <h1>Info Dump</h1>-->
  <h1>{{ city_name }}</h1>
  {% for post in posts %}
  {{ post }}
  {% endfor %}
  <h1></h1>
    <a href={{ hyperlink }}>{{ hypertitle }}</a>
</form>
{% endblock %}
